# ======= Custom Q2 Settings by x2o ============
[temperature_sensor Host_CPU]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor toolhead]
sensor_type: temperature_mcu
sensor_mcu: THR
min_temp: 0
max_temp: 100

[tmc2240 stepper_x]
driver_SLOPE_CONTROL:2

[tmc2240 stepper_y]
driver_SLOPE_CONTROL:2

[tmc2209 stepper_z]
uart_pin: PC5
run_current: 0.7
#hold_current: 0.17
interpolate: True
stealthchop_threshold: 9999999999
diag_pin:^PC1
driver_SGTHRS:140

[tmc2209 stepper_z1]
uart_pin: PB7
run_current: 0.7
#hold_current: 0.17
interpolate: True
stealthchop_threshold: 9999999999
diag_pin:^PA14
driver_SGTHRS:140

[controller_fan board_fan]
pin:PA9                   
max_power:1.0            
shutdown_speed:1.0       
cycle_time:0.01         
fan_speed: 0.35
stepper:stepper_z,stepper_z1

[delayed_gcode delayed_fan_off] #CUSTOM ADDED DEFINITION FOR DELAYED FAN OFF AFTER PRINT
gcode:
    SET_FAN_SPEED FAN=chamber_circulation_fan SPEED=0

[skew_correction]

# Hotend protection — ignores a stray "M104 S0" only during an active print.

[gcode_macro _HOTEND_GUARD]
variable_protect: 0
gcode:
    # variable holder only - do not call directly

[gcode_macro PROTECT_HOTEND_ON]
gcode:
    SET_GCODE_VARIABLE MACRO=_HOTEND_GUARD VARIABLE=protect VALUE=1

[gcode_macro PROTECT_HOTEND_OFF]
gcode:
    SET_GCODE_VARIABLE MACRO=_HOTEND_GUARD VARIABLE=protect VALUE=0

[gcode_macro M104]
rename_existing: M104.1
gcode:
    {% set protect = printer["gcode_macro _HOTEND_GUARD"].protect|int %}
    {% set printing = printer.print_stats.state == "printing" %}
    {% set s = params.S|default(-1)|float %}
    {% if protect == 1 and printing and params.S is defined and s == 0 %}
        { action_respond_info("Hotend protection: ignored stray M104 S0 during active print") }
    {% else %}
        M104.1 {rawparams}
    {% endif %}

# Randomize Homing Probe Location - from Q2 Community Wiki
[homing_override]
axes:xyz
gcode:
    {% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}              #
    {% set z_hop_speed = (printer.configfile.settings['stepper_z'].homing_speed * 60) | float %}    #
    {% set travel_speed = (printer.toolhead.max_velocity * 60) | float %}                           #
    {% set sensorless_variables = printer["gcode_macro _Sensorless_Homing_Variables"] %}            #
    {% set z_hop_distance = sensorless_variables.z_hop_distance | float %}                          # Collect all variables needed for sensorless homing
    {% set first_homed_axis = sensorless_variables.first_homed_axis | string %}                     # from machine config file and _Sensorless_Homing_Variables
    {% set safe_x = sensorless_variables.safe_x | float %}                                          #
    {% set safe_y = sensorless_variables.safe_y | float %}                                          #
    {% set safe_z = sensorless_variables.safe_z_enable | abs %}                                     #
    {% set chamber = printer["heater_generic chamber"].target|int %}
                                                                                     #

    {% if safe_x == -128 %}                                                                         #
        {% set safe_x = (printer.configfile.settings.stepper_x.position_max) /2 %}                  # If safe_x is '-128', set safe_x to the center of the X axis
    {% endif %}                                                                                     #

                                                                                    #

    {% if safe_y == -128 %}                                                                         #
        {% set safe_y = (printer.configfile.settings.stepper_y.position_max) /2 %}                  # If safe_y is '-128', set safe_y to the center of the Y axis
    {% endif %}                                                                                     #
                                                                                  #

    {% if z_hop_distance > 0 %}                                                                     # Check if z_hop_distance is greater than zero
      {% if 'x' not in printer.toolhead.homed_axes and 'y' not in printer.toolhead.homed_axes %}    # If X and Y are not homed, move Z to z_hop_distance
        SET_KINEMATIC_POSITION Z=0
        G0 Z{z_hop_distance} F{z_hop_speed}                                                         #
      {% endif %}                                                                                   #
    {% endif %}                                                                                     #

    {% if first_homed_axis == 'X' %}                                                                # If first_homed_axis is 'X', begin G28 param check
      {% if home_all or 'X' in params %}                                                            #
        _HOME_X                                                                                     # If home_all or 'X' is in params, home X
      {% endif %}                                                                                   #
      {% if home_all or 'Y' in params %}                                                            # If home_all or 'Y' in params, home Y
        _HOME_Y                                                                                     #
      {% endif %}                                                                                   #
    {% endif %}                                                                                     #

    {% if first_homed_axis == 'Y' %}                                                                # If first_homed_axis is 'Y', begin G28 param check
      {% if home_all or 'Y' in params %}                                                            #
        _HOME_Y                                                                                     # if home_all or 'Y' is in params, home Y
      {% endif %}                                                                                   #
      {% if home_all or 'X' in params %}                                                            # If home_all or 'X' in params, home X
        _HOME_X                                                                                     #
      {% endif %}                                                                                   #
    {% endif %}                                                                                     #

    {% if safe_z == 1 and (('Z' in params) or home_all) and ('Z' not in printer.toolhead.homed_axes) %}  # If safe_z is enabled, Z is to be homed, and Z is not homed
        {% if (printer.toolhead.position.z|float < 10) %}
            SET_KINEMATIC_POSITION Z=0
            G1 Z{z_hop_distance} F{z_hop_speed}
        {% endif %}
        G0 X{safe_x} Y{safe_y} F{travel_speed}                                                     # Move to safe XY position at travel speed
    {% endif %}                                                                                     #

    {% if home_all or 'Z' in params %}
        G90
        M106 S255  #Turn on part cooling fan to help cooldown nozzle
        M109 S150  #Heat/cooldown nozzle to 150c, prevents any filament from sticking to bed
        M106 S0    #Turn off part cooling fan, maybe helps remove noise from load cell
        SET_HEATER_TEMPERATURE HEATER=chamber TARGET=0   #Turn off chamber heater, maybe helps reduce electrical noise from load cell
        SET_GCODE_OFFSET Z=0 MOVE=0
        {% set base_x  = printer['gcode_macro PRINTER_PARAM'].max_x_position/2 | float %}   #Randomize probe point
        {% set base_y  = printer['gcode_macro PRINTER_PARAM'].max_y_position/2 | float %}
        {% set safe_x  = range((base_x - 10)|int, (base_x + 10)|int + 1) | random %}
        {% set safe_y  = range((base_y - 10)|int, (base_y + 10)|int + 1) | random %}
        G0 X{safe_x} Y{safe_y} F7800
        G28 Z
        G1 Z20 F2000
        SET_HEATER_TEMPERATURE HEATER=chamber TARGET={chamber}  #Restore chamber heater

    {% endif %}

#Sensorless homing variables - from Q2 Community Wiki
[gcode_macro _Sensorless_Homing_Variables]
description: Variables for sensorless homing

variable_z_hop_distance: 10                # Distance to move Z axis prior to homing, and after homing.
variable_first_homed_axis: 'Y'              # First axis to home when 'G28' is called. Some prefer homing Y before X.

## The following variables are used for moving the printhead to a certain part of the bed before homing the Z axis:

variable_safe_z_enable: True               # Enables/disables moving the printhead before homing the Z axis.
variable_safe_x: -128                       # Safe X position to home the Z axis, leave at -128 to home to the center of the X axis.
variable_safe_y: -128                       # Safe Y position to home the Z axis, leave at -128 to home to the center of the Y axis.

# Do not modify below
gcode:

#Custom SCREWS_TILT_ADJUST for SCREWS_TILT_CALCULATE function in Klipper - From Q2 Community Wiki
[screws_tilt_adjust]
screw1:30,30
screw1_name: front left screw

screw2: 240,30
screw2_name: front right screw

screw3: 240,240
screw3_name: rear right screw

screw4: 30,240
screw4_name: rear left screw

horizontal_move_z: 10
speed: 50
screw_thread: CW-M4